.item-title {
  font: {
    size: 1.5rem;
    weight: 700;
  }
  margin-bottom: 1rem;
}

.item-description {
  text-align: justify;
}

.item-image {
  text-align: center;
  img {
    max-width: 180px;
  }
}
