<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="component-name">
        <h6>Loaded Component: {{this.name}}</h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-light bg-primary list-title">
        <h3>{{this.data?.title}}</h3>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div *ngIf="((this.data) && ((this.data.items) && (this.data.items.length > 0))); else noItemsBlock"
          class="list-group">
        <generic-list-item *ngFor="let item of this.data.items" [item]="item" (selectedItem)="getSelectedItem($event)"></generic-list-item>
      </div>
    </div>
  </div>
</div>
<ng-template #noItemsBlock>
  <div class="list-group">
    <div class="list-group-item">{{this.data?.onEmptyListMessage}}</div>
  </div>
</ng-template>
